<h1 class="title">{{nativeName}} ({{name}})</h1>
<div class="card">
  <div class="description">
    <p class="text"><span class="option">Столица: </span>{{capital}}</p>
    <p class="text"><span class="option">Население: </span>{{population}}</p>
    <p class="text"><span class="option">Язык: </span></p>
    <ul class="list">
      {{#each languages}}
      <li>
        {{nativeName}} ({{name}})
      </li>
      {{/each}}
    </ul>
    <p class="text"><span class="option">Площадь: </span>{{area}}&nbsp;км<sup>&nbsp;2</sup></p>
  </div>

  <div class="flag">
    <img class="flag-img" src="{{flags.png}}" alt="{{name}} widht="150" height="100">
  </div>

</div>